<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/admin.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Administrador</title>
</head>
<header id = "header"><h1>Hotel El ché</h1><header></header>
<body>
        <section class = "Tittle" >
            <h3> <i class="fas fa-user-tie"></i> Hola, Administrador</h3></section>
    
    <section class = "mainDashboard">
        <nav>
             <ul class = "lista">
                  <li>  <a class="boton" href=""> <i class="fas fa-users"></i> Usuarios</a></li>
                  <li>  <a class="boton" href=""><i class="fas fa-puzzle-piece"></i> Modulos</a></li>
                  <li>  <a class="boton" href=""><i class="fas fa-toolbox"></i> Administracion</a></li>
                  <li>  <a class="boton" href=""><i class="fas fa-hashtag"></i> Redes sociales</a></li>
                </ul>
         </nav> 
         
        </section>
    <section class = cuadro >
        <h2>Cuadro visualizador</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse amet voluptate libero. Delectus doloribus 
            illo ratione dolorem quae distinctio nihil, error optio fugiat omnis reiciendis, voluptatem doloremque 
            iusto molestias? Adipisci!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, aspernatur omnis facere inventore quaerat incidunt veritatis rem eum ipsam dolor labore reprehenderit 
                quo, ex doloribus ea harum impedit repudiandae ducimus!</p>
    </section>
<a href=""></a>
    
    <section class = "piePagina" ><a class = "botonLogout" href=""><i class="fas fa-sign-out-alt"></i></a></section>
</body>
</html>