<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <link rel="stylesheet" href="/css/catalogo_style.css">
</head>
<body>
    <section class="text-one">
        <h2>Habitación individual</h2>
        <h1>1 persona</h1>
        <img src="/imagenes/HIndividual.jpg" alt="">
        
        <p>En la planta superior del hotel, una pequeña escalera le dará acceso a un remanso de paz ubicado debajo de la azotea. Desde la ventana de su cuarto de baño, podrá disfrutar de la vista de la hilera de techos parisinos y del Centro Pompidou.
            Ideal para una sola persona, con el mejor confort y la modernidad de sus instalaciones, podrá disfrutar del encanto de su decoración y su tranquilidad.</p>
           <!--  <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button">Action</button>
                  <button class="dropdown-item" type="button">Another action</button>
                  <button class="dropdown-item" type="button">Something else here</button>
                </div>
              </div>-->
   <select name="Servicios" id="">
       <option selected value="">Servicios</option>
        <option value="">
            Cama matrimonial de 140 X 190
        </option>
        <option value="">TV de pantalla plana LED HD
           </option>
    </select>
    <button>Reservar</button>
        </section>

    <section id="id-example-one">
        <h2>Habitación doble</h2>
        <h1>2 personas</h1>
        <img src="/imagenes/HDoble.jpg" alt="">
        
        <p>Situada en el sexto piso, tapizada con una tela de Jouy romántica con colores brillantes, esta decoración atemporal y moderna le hará pasar una estancia agradable en un acogedor refugio para relajarse.
            Las excepcionales atenciones diseñadas especialmente para usted, una ropa de cama suave, unas almohadas, un sillón, una máquina Cafetera Nespresso, un IPAD, prensa digital, todos estos servicios le proporcionarán el confort necesario para una perfecta relajación.
            </p>
            <select name="Servicios" id="">
                <option selected value="">Servicios</option>
                 <option value="">
                     Cama matrimonial de 140 X 190
                 </option>
                 <option value="">TV de pantalla plana LED HD
                    </option>
             </select>
             <button>Revisar disponibildad</button>
    </section>

    <section class="text-one">
        <h2>Suite Junior</h2>
        <h1>4 personas</h1>
      <img src="/imagenes/suite.jpg" alt="">
        
        <p>
            En un hermoso espacio, flanqueado por vigas gris perla, sus paredes de color soleado aportan un toque de luz que realza este pequeño apartamento y sus lujosos tejidos.
Lujo y serenidad en un ambiente contemporáneo, todo está pensado para hacer su estancia inolvidable gracias a la modernidad de sus instalaciones.
En pareja o en familia, encontrará el espacio para relajarse en un cómodo sofá que, según sus necesidades, se transformará en una cama supletoria.
Los amantes de los videojuegos o las películas tendrán a su disposición una playstaytion para su disfrute.
También podrá relajarse en una bañera amplia, mientras disfruta del segundo televisor situado al pie de ésta.
        </p>
        <select name="Servicios" id="">
            <option selected value="">Servicios</option>
             <option value="">
                 Cama matrimonial de 140 X 190
             </option>
             <option value="">TV de pantalla plana LED HD
                </option>
         </select>
         <button>Reservar</button>
    </section>   
</body>
</html>