<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" type="text/css" href="../css/slicknav.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="site-header">
        <div class="contenedor">
            <div class="barra-navegacion">
                <div class="logo">
                    <img src="../img/.jpg" alt="logo ">
                </div>

                <ul id="myDIV" class="menu-principal">
                    <li><a  href="promociones.html">Promociones</a></li>
                    <li><a  href="habitaciones.html">Habitaciones</a></li>
                    <li><a  href="nosotros.html">Nosotros</a></li>
                    <li><a  href="aviso.html">Aviso Privacidad</a></li>
                  </ul>
            </div>
        </div>
    </header>

    <!--AQUI SU CODIGO-->

    <footer>
        
    </footer>

    
</body>
</html>