<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/usuarios.css">
    <title>Usuarios</title>
</head>
<body>
    <section class = "Tittle" ><h2>Usuarios</h2></section>

<section class = "cuadro">
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid cupiditate sed ea explicabo neque reprehenderit odio! Quam tempore
        eligendi culpa saepe libero labore. Dolores vel dignissimos, ipsa officiis commodi a.</p>
    
</section>
<ul>
    <a class = "boton" href="">Salir</a>
    <a class = "boton" href="">Editar</a>
    <a class = "boton" href="">Añadir</a>
    </ul>
</body>
</html>